{% extends 'food/base.html' %}

{% block body %}
    {% for item in item_list %}
        <div class="row justify-content-center mb-3 position-relative">

            <div class="col-md-3">
                <div class="ratio ratio-16x9">
                    <img class="img-fluid rounded-5" src="{{ item.item_image }}" alt="" style="object-fit: cover;">
                </div>
            </div>

            <div class="col-md-4 p-3">
                <p><small>Posted by: {{ item.user_name }}</small></p>
                <h2 class="text-truncate">{{ item.item_name }}</h2>
                <p>{{ item.item_description }}</p>
                <p><span class="align-top fs-6 badge text-bg-primary align-top">${{ item.item_price }}</span></p>
            </div>

            <div class="col-md-2">
                <a href="{% url 'food:detail' item.id %}" class="btn btn-success stretched-link">Details</a>
            </div>

        </div>
        <hr>
    {% endfor %}
{% endblock %}