{% extends 'food/base.html' %}

{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-white bg-success">
                <div class="card-title">Login</div>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-success" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


